/* === hero list === */
.list__wrapper {
  border-radius: 20px 20px 20px 20px;
  background: #1C1C1C;
}

.list__title {
  padding: 10px 10px 0px;
  font-weight: 600;
}

.list__title-text-elem {
  font-size: 40px;
  height: 90px;
  border-radius: 15px;
  padding: 15px 20px;
  background: #232323;
}

.about-list {
  background: #1C1C1C;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.list__item {
  background: #232323;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s, width 0.3s;
}

.list__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(35, 35, 35, 1) 1%, rgba(0, 0, 0, 0) 100%);
  border-radius: 15px 15px 0 0;
}

.list__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(360deg, rgba(35, 35, 35, 1) 1%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0 0 15px 15px;
}

.list__item:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(28, 28, 28, 1) 1%, rgba(0, 0, 0, 0) 100%);
  border-radius: 15px 15px 0 0;
}

.list__item:nth-child(odd)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(360deg, rgba(28, 28, 28, 1) 1%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0 0 15px 15px;
}

.list__item:nth-child(odd) {
  background: #1C1C1C;
}

.list__text {
  height: 100%;
  padding: 21px 20px;
  overflow: hidden;
  overflow: scroll
}

.list__text a {
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: color 0.2s;
  text-decoration-thickness: 2px;
}

.list__text a:hover {
  color: #7B7B7B;
}

/* =========================== */
/* =========================== */
/* =========================== */

@media (max-width: 750px) {
  .list__text {
    padding: 24px 14px;
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  .list__title {
    padding: 5px 5px 0px;
    font-weight: 600;
  }

  .about-list {
    padding: 5px;
    gap: 5px;
  }

  .list__title-text-elem {
    padding: 9px;
    height: 60px;
    font-size: 28px;
  }

  .list__item {
    height: 100%;
  }

  .list__text {
    padding: 15px 9px;
    font-size: 20px;
    height: 100%;
  }
}
@media (max-width: 350px) {
  .list__title-text-elem {
    font-size: 25px;
    padding: 11px 9px;
    height: 60px;
  }
  .list__text {
    padding: 18px 9px;
    font-size: 16px;
  }
}