.main {}

.notes__inner {
  /* display: flex; */
  /* flex-direction: column; */
}

.notes__header {
  background: #1C1C1C;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

.notes__header-inner {
  padding: 15px 20px;
  border-radius: 15px;
  display: flex;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__title {
  font-size: 40px;
  font-weight: 600;
}

.notes__windows-style {
  display: flex;
  align-items: center;
  gap: 8px;
}

.notes__windows-style span {
  background: #fff;
  width: 2px;
  height: 44px;
  border-radius: 2px;
}

.notes__windows-style-item {
  display: flex;
  position: relative;
  cursor: pointer;
}

.notes__windows-style-item rect {
  transition: fill 0.2s;
}

.notes__windows-style-item:hover rect {
  fill: #7B7B7B;
}

.notes__windows-style-item--active rect {
  fill: #7B7B7B;
}

.notes__windows-3 {}

.notes__windows-2 {}

.notes__windows-1 {}

.notes__content {
  background: #1C1C1C;
  /* border: 1px solid #fff; */
  padding: 0 10px 10px;
  display: grid;
  gap: 10px;
}

.notes__content--3-windows {
  grid-template-columns: 1fr 1fr 1fr;
}

.notes__content--2-windows {
  grid-template-columns: 1fr 1fr;
}

.notes__content--1-windows {
  grid-template-columns: 1fr;
}



.notes__item {
  border-radius: 15px;
  padding: 10px;
  background: #232323;
  overflow: hidden;
  height: 387px;
  position: relative;
}

.notes__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 52.5%);
  transform: rotate(180deg);
}

.notes__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 52.5%);
}


.notes__text {
  font-size: 24px;
  overflow: scroll;
  height: 100%;
  border-radius: 10px;
}

.notes__copy-btn {
  position: absolute;
  z-index: 2;
  width: calc(100% - 20px);
  background: #7B7B7B60;
  bottom: -50px;
  left: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  cursor: pointer;
  opacity: 0.5;
  transition: bottom 0.2s, opacity 0.2s, background 0.1s, backdrop-filter 0.2s;
}

.notes__copy-btn:hover {
  background: #7B7B7B90;
  backdrop-filter: blur(5px);
}

.notes__copy-btn:active {
  background: #7B7B7BBB;
}

.notes-copy-icon {
  width: 30px;
  height: 30px;
}

@keyframes copied {
  0% {
    background: #87b76fbb;
  }

  100% {
    background: #7B7B7B90;
  }

}

.copied {
  animation: copied 0.2s ease-in 1 forwards;

}

.notes__controls {
  display: flex;
  gap: 10px;
  padding: 0 10px 10px;
  background: #1C1C1C;
  margin-bottom: 20px;
  border-radius: 0 0 20px 20px;
}

.notes__controls-plus,
.notes__controls-minus {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  font-size: 48px;
  cursor: pointer;
}

.notes__controls-plus {
  background: #4EC953;
  color: #3a913d;
}

.notes__controls-minus {
  background: #CF4848;
  color: #953434;
}

.notes__controls-plus:hover {
  filter: brightness(0.8);
  color: #cbffcc;
}

.notes__controls-plus:active {
  filter: brightness(0.5);
}

.notes__controls-minus:hover {
  filter: brightness(0.8);
  color: #fab6b6;
}

.notes__controls-minus:active {
  filter: brightness(0.5);
}

.notes__controls-minus--active {
  filter: brightness(0.5);
  color: #fab6b6;
}

.notes__controls-minus--active:hover {
  filter: brightness(0.5);
}

/* ========= MODAL ========= */
.modal {
  position: fixed;
  z-index: 11;
  inset: 0;
  backdrop-filter: blur(5px) brightness(0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-shrink: 1; */
}

.modal__window {
  will-change: opacity;
  background: #1C1C1C;
  padding: 10px 10px;
  position: relative;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__close-btn {
  position: absolute;
  top: -60px;
  right: 0;
  width: 50px;
  height: 50px;
  background: #CF4848;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  transition: filter 0.2s, color 0.2s;
  color: #953434;
}

.modal__close-btn span {
  transform: rotate(45deg);
}

.modal__input {
  background: #232323;
  border-radius: 15px;
  min-width: 100%;
  max-width: 1080px;
  height: 420px;
  padding: 21px 20px;
  overflow: scroll;
  font-size: 32px;
  color: #e5e5e5;
  resize: none;
}

.modal__save-btn {
  background: #4EC953;
  height: 50px;
  border-radius: 15px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s, color 0.2s;
  color: #3a913d;
}

.modal__close-btn:hover {
  filter: brightness(0.8);
  color: #fab6b6;
}

.modal__save-btn:hover {
  filter: brightness(0.8);
  color: #cbffcc;
}

.want-delete {
  bottom: 10px;
  opacity: 1;
  background: #CF484890;
}

.want-delete:hover {
  background: #CF4848BB;
}

.want-delete .notes-copy-icon {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.want-delete::after {
  content: '';
  width: 30px;
  height: 30px;
  background: url(../img/icons/bin-note.svg) 50% 50%/30px no-repeat;
}

/* ======================= */
@media (min-width: 451px) {
  .notes__item:hover .notes__copy-btn {
    bottom: 5px;
    opacity: 1;
  }
}
@media (min-width: 551px) {
  .notes__item:hover .notes__copy-btn {
    bottom: 10px;
    opacity: 1;
  }
}

@media (max-width: 900px) {

  .notes__text {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .notes__title {
    font-size: 5.2vw;
  }
}

@media (max-width: 650px) {
  .notes__windows-style-item rect {
    height: 43px;
    rx: 3;
    y: -3.5;
  }

  .notes__windows-style-item svg {
    width: 68px;
    height: 30px;
    transform: scaleY(1.2);
  }

  .modal__input {
    padding: 24px 20px;
    font-size: 28px;
  }
}

@media (max-width: 550px) {

  .notes__windows-style {
    gap: 4px;
  }

  .notes__title {
    font-size: 28px;
  }

  .notes__text {
    font-size: 16px;
  }

  .notes__header {
    padding: 5px 5px 0;
  }

  .notes__header-inner {
    padding: 8px 9px;
    height: 60px;
  }

  .notes__content {
    padding: 5px;
    gap: 5px;
  }

  .notes__item {
    height: 259px;
  }

  .notes__controls {
    gap: 5px;
    padding: 0 5px 5px;
  }

  .notes__controls-plus,
  .notes__controls-minus {
    height: 60px;
    font-size: 40px;
  }
  .want-delete {
  bottom: 5px;
}

  .notes__copy-btn {
    width: calc(100% - 10px);
    left: 5px;
  }

  .notes__windows-style span:nth-child(2) {
    display: none;
  }

  .notes__windows-style-item:first-child {
    display: none;
  }

  .modal__close-btn {
    font-size: 40px;
    top: -55px;
  }

  .modal__input {
    padding: 15px 9px;
    font-size: 20px;
    height: 280px;
  }
  .modal__window{
    padding: 5px;
    gap: 5px;
  }
  .modal__save-btn{
    font-size: 28px;
  }
}
@media (max-width: 450px) {
  .notes__item--hover {
    bottom: 5px;
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .notes__title {
    font-size: 25px;
  }
    .modal__input {
    padding: 18px 9px;
    font-size: 16px;
  }
  .modal__save-btn{
    font-size: 25px;
  }
}